<footer class="fondo2">

    <div class="contenedor-cuatro">
        <img class="logo-pie" src="/images/INTERTEC .png" width="10%">
        <div class="sobre-nosotros">

            
            <h4> Sobre nosotros </h4>
            <ul>
                <li> <a href="#"> Contacto</a></li>
                <li> <a href="#"> Quienes somos</a></li>
                <li> <a href="#"> Nuestra mision</a></li>
                <li> <a href="#"> Nuestra vision</a></li>
        </div>
        </ul>
        <div class="venta-online">
            <h4> Venta online </h4>
            <ul>
                <li> <a href="#"> Preguntas frecuentes</a></li>
                <li> <a href="#"> Terminos y condicions</a></li>
                <li> <a href="#"> Contacto</a></li>
                <li> <a href="#"> Ventar corporativa</a></li>
        </div>
        </ul>
        <div class="soporte">
            <h4> Soporte </h4>
            <ul>
                <li> <a href="#"> Celulares y accesorios</a></li>
                <li> <a href="#"> Manuales y garantias</a></li>
                <li> <a href="#"> Ponete en contacto con nosotros</a></li>
        </div>
        </ul>
    </div>
</footer>