<header class="naranja">  
    <div class="cabecera1">
    <div class="logo"> <a href="/"><img src="/images/INTERTEC .png" width="100%"></a> </div> 
    <div class="barra"> <input type="search" name="busqueda" placeholder="Buscar: Productos, Marca..."> <i class="fas fa-search"></i>
    </div>
</div>
<div class="cabecera2"> 
 carlitos
    <div class="carrito"> <a href="/carrito"> Mi Carrito </a> <i class="fas fa-shopping-cart"></i></div>
    <div class="register"> <a href="/register"> Registrarse</a><i class="fas fa-user-plus"></i></div>
    <div class="login"> <a href="/login"> Iniciar sesion</a><i class="fas fa-user"></i>

    </div>  
</div>
</header>