<header class="naranja">
    <div class="cabecera1">
        <div class="logo"> <a href="/"><img src="/images/INTERTEC .png"></a></div><p>Servicios tecnologicos a tu media</p>

        <div class="cnt-search" class="barra-search">

            <div class="barra" placeholder="Search here">
                <input type="search" id=input-search>
            </div>  

<div class="cabecera2"> 

    <div class="carrito"> <a href="/carrito"> Mi Carrito </a> <i class="fas fa-shopping-cart"></i></div>
    <div class="register"> <a href="/register"> Registrarse</a><i class="fas fa-user-plus"></i></div>
    <div class="login"> <a href="/login"> Iniciar sesion</a><i class="fas fa-user"></i>

        </div>
    </div>
    <div>
        <nav class="navegacion"> 
            <ul class="desplegable"> 
                <li> <a href="/products/detailsProducts"> Smartphones</a>
                <ul> 
                    <li><a href="/products/detailsProducts"> Samsung</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Samsung 1</a></li>
                        <li><a href="/products/detailsProducts"> Samsung 2</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Motorola</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Motorola Edge 20 PRO</a></li>
                        <li><a href="/products/detailsProducts"> Moto G60 S</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Xiaomi</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Xiaomi 1</a></li>
                        <li><a href="/products/detailsProducts"> Xiaomi 2</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Huawei</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Huawei 1</a></li>
                        <li><a href="/products/detailsProducts"> Huawei 2</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Iphone</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Iphone 1</a></li>
                        <li><a href="/products/detailsProducts"> Iphone 2</a></li>
                    </ul></li>
                </ul></li>

                <li> <a href="/products/detailsProducts"> Auriculares</a>
                <ul> 
                    <li><a href="/products/detailsProducts"> Samsung</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Originales</a></li>
                        <li><a href="/products/detailsProducts"> Alternativos</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Motorola</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Originales</a></li>
                        <li><a href="/products/detailsProducts"> Alternativos</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Xiaomi</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Originales</li>
                        <li><a href="/products/detailsProducts"> Alternativos</a></li>
                        </ul></li>
                    <li><a href="/products/detailsProducts"> Huawei</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Originales</a></li>
                        <li><a href="/products/detailsProducts"> Alternativos</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Iphone</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Originales</a></li>
                        <li><a href="/products/detailsProducts"> Alternativos</a></li>
                    </ul></li>
                </ul></li> 

                <li> <a href="/products/detailsProducts"> Accesorios</a>
                <ul>
                    <li><a href="/products/detailsProducts"> Samsung</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Cargadores</a></li>
                        <li><a href="/products/detailsProducts"> Fundas</a></li>
                        <li><a href="/products/detailsProducts"> Templados</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Motorola</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Cargadores</a></li>
                        <li><a href="/products/detailsProducts"> Fundas</a></li>
                        <li><a href="/products/detailsProducts"> Templados</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Xiaomi</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Cargadores</a></li>
                        <li><a href="/products/detailsProducts"> Fundas</a></li>
                        <li><a href="/products/detailsProducts"> Templados</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Huawei</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Cargadores</a></li>
                        <li><a href="/products/detailsProducts"> Fundas</a></li>
                        <li><a href="/products/detailsProducts"> Templados</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Iphone</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Cargadores</a></li>
                        <li><a href="/products/detailsProducts"> Fundas</a></li>
                        <li><a href="/products/detailsProducts"> Templados</a></li>
                    </ul></li>
                </ul></li>

                <li> <a href="/products/detailsProducts"> Promociones</a> 
                <ul>
                    <li><a href="/products/detailsProducts"> Samsung</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Smartphone + Funda + Templado</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Motorola</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Smartphone + Funda + Templado</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Xiaomi</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Smartphone + Funda + Templado</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Huawei</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Smartphone + Funda + Templado</a></li>
                    </ul></li>
                    <li><a href="/products/detailsProducts"> Motorola</a>
                    <ul>
                        <li><a href="/products/detailsProducts"> Smartphone + Funda + Templado</a></li>
                    </ul></li>
                </ul></li>


            </ul>
        </nav>
    </div>
</header>


<section >



    
</div>
        </div>
    </div>
</div>
</section>