<header class="naranja">
    <div class="cabecera1">
        <div class="logo"> <a href="/"><img src="/images/INTERTEC .png"></a></div><p>Servicios tecnologicos a tu media</p>

    

<div class="cabecera2"> 

    <div class="carrito"> <a href="/carrito"> Mi Carrito </a> <i class="fas fa-shopping-cart"></i></div>
    <div class="register"> <a href="/register"> Registrarse</a><i class="fas fa-user-plus"></i></div>
    <div class="login"> <a href="/login"> Iniciar sesion</a><i class="fas fa-user"></i>

        </div>
    </div>
</header>


<section class="barra-search">

<div class="cnt-search">

    <div class="barra" placeholder="Search here">
        <input type="search" id=input-search>
    </div>  

    <div class="cnt-table">
        <table id="table">
            <thead>
                <tr>
                    <td>

                    </td>
                </tr>
            </thead>

            <tbody>
                
                <tr>
                    <td><a href="#">Inicio</a></td>
                </tr>
                <tr>
                    <td><a href="#">Productos</a></td>
                </tr>
                <tr>
                    <td><a href="#">Auriculares</a></td>
                </tr>
                <tr>
                    <td><a href="#">Cargadores</a></td>
                </tr>
                <tr>
                    <td><a href="#">Relojes</a></td>
                </tr>
                <tr>
                    <td><a href="#">Samsung</a></td>
                </tr>
                <tr>
                    <td><a href="#">Motorola</a></td>
                </tr>
                <tr>
                    <td><a href="#">Huawei</a></td>
                </tr>
                <tr>
                    <td><a href="#">Iphone</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
        </div>
    </div>
</div>
<script src="js/search"></script>
</section>