<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
</head>


<body class="fondo">
    <header class="naranja">
        <div class="cabecera1">
            <div class="logo"> <img src="/images/INTERTEC .png" width="100%"> </div>
            <div class="barra"> <input type="search" name="busqueda" placeholder="Buscar: Productos, Marca..."> </div>
        </div>
        <div class="cabecera2">

            <div class="carrito"> <a href="#"> Mi carrito</a> <i class="fas fa-shopping-cart"></i></div>
            <div class="register"> <a href="#"> Registrarse</a></div>
            <div class="login"> <a href="#"> Iniciar sesion</a></div>
        </div>
    </header>

    <main>
        <nav class="navegacion">
            <ul class="desplegable">
                <li> <a href="#"> Smartphones</a>
                    <ul>
                        <li><a href="#"> Samsung</a>
                            <ul>
                                <li><a href="#"> Samsung 1</a></li>
                                <li><a href="#"> Samsung 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Motorola</a>
                            <ul>
                                <li><a href="#"> Motorola Edge 20 PRO</a></li>
                                <li><a href="#"> Moto G60 S</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Xiaomi</a>
                            <ul>
                                <li><a href="#"> Xiaomi 1</a></li>
                                <li><a href="#"> Xiaomi 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Huawei</a>
                            <ul>
                                <li><a href="#"> Huawei 1</a></li>
                                <li><a href="#"> Huawei 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Iphone</a>
                            <ul>
                                <li><a href="#"> Iphone 1</a></li>
                                <li><a href="#"> Iphone 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li> <a href="#"> Auriculares</a>
                    <ul>
                        <li><a href="#"> Samsung</a>
                            <ul>
                                <li><a href="#"> Originales</a></li>
                                <li><a href="#"> Alternativos</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Motorola</a>
                            <ul>
                                <li><a href="#"> Originales</a></li>
                                <li><a href="#"> Alternativos</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Xiaomi</a>
                            <ul>
                                <li><a href="#"> Originales</li>
                                <li><a href="#"> Alternativos</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Huawei</a>
                            <ul>
                                <li><a href="#"> Originales</a></li>
                                <li><a href="#"> Alternativos</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Iphone</a>
                            <ul>
                                <li><a href="#"> Originales</a></li>
                                <li><a href="#"> Alternativos</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li> <a href="#"> Accesorios</a>
                    <ul>
                        <li><a href="#"> Samsung</a>
                            <ul>
                                <li><a href="#"> Cargadores</a></li>
                                <li><a href="#"> Fundas</a></li>
                                <li><a href="#"> Templados</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Motorola</a>
                            <ul>
                                <li><a href="#"> Cargadores</a></li>
                                <li><a href="#"> Fundas</a></li>
                                <li><a href="#"> Templados</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Xiaomi</a>
                            <ul>
                                <li><a href="#"> Cargadores</a></li>
                                <li><a href="#"> Fundas</a></li>
                                <li><a href="#"> Templados</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Huawei</a>
                            <ul>
                                <li><a href="#"> Cargadores</a></li>
                                <li><a href="#"> Fundas</a></li>
                                <li><a href="#"> Templados</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Iphone</a>
                            <ul>
                                <li><a href="#"> Cargadores</a></li>
                                <li><a href="#"> Fundas</a></li>
                                <li><a href="#"> Templados</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li> <a href="#"> Promociones</a>
                    <ul>
                        <li><a href="#"> Samsung</a>
                            <ul>
                                <li><a href="#"> Smartphone + Funda + Templado</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Motorola</a>
                            <ul>
                                <li><a href="#"> Smartphone + Funda + Templado</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Xiaomi</a>
                            <ul>
                                <li><a href="#"> Smartphone + Funda + Templado</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Huawei</a>
                            <ul>
                                <li><a href="#"> Smartphone + Funda + Templado</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Motorola</a>
                            <ul>
                                <li><a href="#"> Smartphone + Funda + Templado</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>


            </ul>
        </nav>








<div> <h1> ¿QUE BUSCAS? </h1> </div>

<ul> 
    
    <div class="contenedor-tres"> 
    <div class="bateria"><li> <a href="#"> <img src="/images/bateria.png" width="60%"></a> </li> </div>
   
    <div class="camara"><li> <a href="#"> <img src="/images/camara.png" width="60%"></a></li> </div>
   
    <div class="precio"><li> <a href="#"> <img src="/images/precio.png" width="60%"></a></li> </div>
    
    <div class="pantalla"><li> <a href="#"> <img src="/images/pantalla.png" width="60%"></a></li> </div>
    
    <div class="memoria"><li> <a href="#"> <img src="/images/memoria.png" width="60%"></a></li> </div>
   
    <div class="gaming"><li> <a href="#"> <img src="/images/gaming.png" width="60%"></a></li> </div>
    
</div>
</ul>
