<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container p-4">
        <form action="" class="card card-body">
            <label for="title">producto</label>
            <input type="text" class="form-control" name="producto" id="producto" placeholder="nombre del producto"
                autofocus required>
                <label for="title">producto</label>   
            <input type="number" class="form-control" name="price" id="price" placeholder="$" autofocus required>

                <label for="title">category</label>
            <input type="category" class="form-control" name="category" id="category" placeholder="producto" autofocus
                required>

                <label for="title">color del producto</label>
            <input type="color" class="form-control" name="color" id="color" placeholder="color del producto" autofocus
                required>
        </form>
    </div>
</body>

</html>