
<!--'include Head'-->
<%- include('partials/head' ,{title: 'confirm-order'} )%>

<body>
    <!--'include headerNavBar'-->
<%- include('partials/headerNavBar') %>
    <main class="flex-main flex-center">
        <div class="navegador w100 p10">
            <a></a>Seguir comprando
        </div>
        <section class="flex-section flex-column flex-section-double">

            <h2>Completá tus datos</h2>
            <div class="flex-section flex-center">
                <div class="flex-section flex-column p10">
                    <label>Nombre*</label>
                    <input>
                </div>
                <div class="flex-section flex-column p10">
                    <label>Apellido*</label>
                    <input>
                </div>
            </div>
            <div class="flex-section flex-column p10">
                <label>Número de documento**</label>
                <input>
            </div>
            <div class="flex-section flex-column p10">
                <label>País/Región</label>
                <input>
            </div>
            <div class="flex-section flex-column p10">
                <label>Dirección</label>
                <input>
                <br>
                <input>
            </div>
            <div class="flex-section flex-column p10">
                <label>Localidad/Ciudad</label>
                <input>
            </div>
            <div class="flex-section flex-column p10">
                <label>Código Postal</label>
                <input>
            </div>
            <div class="flex-section flex-column p10">
                <label>Celular/WhatsApp</label>
                <input>
            </div>
            <div class="flex-section flex-column p10">
                <label>Correo Electrónico</label>
                <input>
            </div>


<<<<<<< HEAD:views/confirmar-orden.html
        </section>
        <section class="flex-section flex-column flex-section-double p10">
            <h2>Tu pedido</h2>
            <div id="titulos" class="flex-section flex-space-between border_bottom">
                <label>producto</label>
                <label>subtotal</label>
            </div>
            <div id="productos" class="flex-section flex-space-between border_bottom">
                <label>producto1</label>
                <label>$5500</label>
            </div>
            <div id="productos" class="flex-section flex-space-between border_bottom">
                <label>producto2</label>
                <label>$5500</label>
            </div>
            <div id="subtotal" class="flex-section flex-space-between border_bottom">
                <label>subtotal</label>
                <label>$45500</label>
            </div>
            <div id="envio" class="flex-section flex-space-between border_bottom">
                <label>Envio Gratuito CABA</label>
            </div>
            <div id="total" class="flex-section flex-space-between">
                <label>total</label>
                <label>$45.500</label>
            </div>

            <section class="flex-section flex-column mt10">
                <div class="flex-section flex-row p10">
                    <input type="radio">
                    <label class="pl10">Efectivo</label>
                </div>
                <div class="flex-section flex-row p10">
                    <input type="radio">
                    <label class="pl10">Transferencia Bancaria</label>
                </div>
                <div class="flex-section flex-row p10">
                    <input type="radio">
                    <label class="pl10">PayPal</label>
                </div>

                <button class="max-width20em" style="height:4em;float:right;">realizar el pedido</button>
            </section>
        </section>
    </main>
=======
    </section>
    <section class="flex-section flex-column flex-section-double p10">
        <h2>Tu pedido</h2>
        <div id="titulos" class="flex-section flex-space-between border_bottom">
                    <label>producto</label>
                    <label>subtotal</label>
        </div>
        <div id="productos" class="flex-section flex-space-between border_bottom">
            <label>producto1</label>
            <label>$5500</label>
        </div>
        <div id="productos" class="flex-section flex-space-between border_bottom">
            <label>producto2</label>
            <label>$5500</label>
        </div>
        <div id="subtotal" class="flex-section flex-space-between border_bottom">
            <label>subtotal</label>
            <label>$45500</label>
        </div>
        <div id="envio" class="flex-section flex-space-between border_bottom">
            <label>Envio Gratuito CABA</label>
        </div>
        <div id="total" class="flex-section flex-space-between">
            <label>total</label>
            <label>$45.500</label>
        </div>
    
    <section class="flex-section flex-column mt10">
        <div class="flex-section flex-row p10"> 
            <input type="radio">
            <label class="pl10">Efectivo</label>
        </div>
        <div class="flex-section flex-row p10"> 
            <input type="radio">
            <label class="pl10">Transferencia Bancaria</label>
        </div>
        <div class="flex-section flex-row p10"> 
            <input type="radio">
            <label class="pl10">PayPal</label>
        </div>
        <div><button class="max-width20em" style="height:4em;float:right;">realizar el pedido</button></div>
    </section>
</section>
</main>
>>>>>>> 737d603505693aaa2b28f8c39708c233558ec0b9:views/confirm-order.ejs

</body>
<%- include('partials/footer') %>