
<!--'include Head'-->
<%- include('partials/head' ,{title: 'login'} )%>
<body class="fondo">
    <!--'Inlcude HeaderNavbar'-->
    <%- include('partials/headerNavBar') %>
       
    
    
    
    
    
    
    
    
    
    
    
    
    <!--'include footer'-->
<%- include('partials/footer') %>
</body>