
<!--'include Head'-->
<%- include('partials/head' ,{title: 'products'} )%>
<body class='fondo'>
    <!--'Inlcude HeaderNavbar'-->
    <%- include('partials/headerNavBar') %>
    <section class="errores">
        <ul>
        
        </ul>
    <br>
    </section>
    <form action="/products" class="form-user-register" method="POST" enctype="multipart/form-data">
        <input type="text" name="name_products" placeholder="Nombre producto">
        <input type="text" name="price"  placeholder= "precio">
        <input type="text" name="nameAtribute"  placeholder= "atributo1">
        <input type="text" name="valueAtribute" placeholder="valor atributo">
        <label name="uploadImage_products" class="errors">Subir imagen<input type="file" name="uploadImage_products"></label>
        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar">
        <br>
        
    </form> 

    
    
    <!--'include footer'-->
<%- include('partials/footer') %>
<script type="text/javascript" src="/js/productsValidations.js"></script>
</body>