<!--'include Head'-->
<%- include('partials/head' ,{title: 'login' } )%>

  <body class="fondo">


    </header>
    <!--'include headerNavBar'-->
    <%- include('partials/headerNavBar') %>

      <div>

      </div>

      <div class="container">

        <ul class="slider">
          <li id="slide1">
            <img src="/images/motog60s1.png">
          </li>
          <li id="slide2">
            <img src="/images/g 60s frente.png">
          </li>
          <li id="slide3">
            <img src="/images/motog60satras.png">
          </li>
        </ul>

        <ul class="menu">
          <li>
            <a href="#slide1">1</a>
          </li>
          <li>
            <a href="#slide2">2</a>
          </li>
          <li>
            <a href="#slide3">3</a>
          </li>
        </ul>

      </div>

      <div class="container_info_compra">

        <div class="infoDeCompraImg1">

          <img src="/images/motog60sLogo.png">
        </div>

        <div class="infoDeCompra1">
          <p> moto g60s - Aqua</p>
        </div>

        <div class="infoDeCompra2">
          <p>Opcion: <span class="bold">128GB</span></p>
          <p>Color: <span class="bold">Aqua</span></p>
        </div>
        <div class="infoDeCompraImg">
          <img src="../images/sku-color-aquaMOTOG60.jpg">
          <img src="../images/sku-color-azulMOTOG60.jpg">
        </div>

        <div class="infoTarjetas">
          <div class="infoDeCompra3">
            <p>Aprovechá nuestras promociones bancarias</p>
            <p>propietaria 12 cuotas sin interés de $ 4,851.56 todos los martes</p>
          </div>
          <div class="americanExpress">
            <img src="../images/c-rd-americanexpress.png">
            <p>3 cuotas sin interés de $ 16,666.33</p>
          </div>
          <div class="visa">
            <img src="../images/c-rd-visaMethod.png">
            <p> 3 cuotas sin interés de $ 16,666.33</p>
          </div>
          <div class="mastercard">
            <img src="../images/c-rd-mastercard-seeklogo.png">
            <p> 3 cuotas sin interés de $ 16,666.33</p>
          </div>
          <span class="bold">
            <p>Las promociones bancarias exclusivas de Motorola no aplican en caso de seleccionar Mercado Pago</p>
          </span>

        </div>
      </div>
      </div>

      <div class="infog60s1">

        <div class="titulo1"> SORPRENDENTEMENTE REAL CON INCREÍBLE FLUIDEZ </div>

        <p>Disfrutá de la pantalla más grande, amplia y envolvente jamás vista en un moto g.
          La pantalla Max Vision FHD+ de 6.8" ofrece una gama de colores de un 10 % más amplia5.
          Colores vívidos y reales con contraste únicos y además un aumento del 25 % de brillo ante la luz solar.
          La frecuencia de actualización de 120 Hz te ofrece una increíble fluidez en las transiciones en cualquier
          situación.</p>
          <div class="videog60s"> <video controls src="../images/screen_video_desk.mp4.mp4" type="video/mp4"></video></div>

      </div>

        <div class="infog60s2">
        <div class="titulo2"> APROVECHÁ LA ALTA RESOLUCIÓN </div>

        <p> Asegúrate de que tus amigos y familiares se vean perfectos siempre.
          El sensor de ultra alta resolución de 64 MP proporciona una claridad inigualable y una gran precisión de
          color.
          Y, cuando no hay mucha luz, la tecnología Quad Pixel garantiza que todas las fotos salgan nítidas y brillantes
          gracias a una sensibilidad 4 veces mayor a la luz.</p>
          <img  src="/images/camarasg60s.png" width="500px">
        </div>  
        
        <div class="infog60s3">
          <div class="titulo3"> CARGA TURBOPOWER 50 </div>
  
          <p> Cargá más rápido que nunca. Con el nuevo TurboPower™ 50, obtené 12 horas de energía en 12 minutos¹. 
            Después de todo, tenés mejores cosas que hacer que esperar a que se cargue tu teléfono.</p>
            <img src="/images/battery_g60s.png" width="500px">
          </div>  
      

<<<<<<< HEAD
      </div>

=======
<<<<<<< HEAD
      </div>

=======
<body class="fondo">
  <!--'include headerNavBar'-->
  <%- include('partials/headerNavBar') %>
 <div>
   
</div>
>>>>>>> 46ce090efeeba18c6116bc11fff387f4fb1cd9e8
>>>>>>> 42cce81d42cd9c04ee5f409ccdce9bdca707483a






  </body>
  <!--'include footer'-->
  <%- include('partials/footer') %>

    </html>