<!--'include Head'-->
<%- include('partials/head' ,{title: 'login'} )%>

<body class="fondo">
  <!--'include headerNavBar'-->
  <%- include('partials/headerNavBar') %>
 <div>
   
</div>



 <div class="tituloprod"> MotoG60s </div>
           
<div class="container">
  
    <ul class="slider">
      <li id="slide1">
        <img src="/images/motog60s1.png">
      </li>
      <li id="slide2">
        <img src="/images/g 60s frente.png">
      </li>
      <li id="slide3">
      <img src="/images/motog60satras.png"> 
      </li>
    </ul>
    
    <ul class="menu">
      <li>
        <a href="#slide1">1</a>
      </li>
      <li>
        <a href="#slide2">2</a>
      </li>
       <li>
        <a href="#slide3">3</a>
      </li>
    </ul>
    
  </div>

<div class="infog60s"> 

<div class="titulo"> SORPRENDENTEMENTE REAL CON INCREÍBLE FLUIDEZ </div>

<p>Disfrutá de la pantalla más grande, amplia y envolvente jamás vista en un moto g. 
    La pantalla Max Vision FHD+ de 6.8" ofrece una gama de colores de un 10 % más amplia5. 
    Colores vívidos y reales con contraste únicos y además un aumento del 25 % de brillo6 ante la luz solar. 
    La frecuencia de actualización de 120 Hz te ofrece una increíble fluidez en las transiciones en cualquier situación.</p>

    <div class="titulo"> APROVECHÁ LA ALTA RESOLUCIÓN </div>

<p> Asegúrate de que tus amigos y familiares se vean perfectos siempre. 
    El sensor de ultra alta resolución de 64 MP proporciona una claridad inigualable y una gran precisión de color. 
    Y, cuando no hay mucha luz, la tecnología Quad Pixel garantiza que todas las fotos salgan nítidas y brillantes gracias a una sensibilidad 4 veces mayor a la luz9.</p>

<img class="camfrontal" src="/images/camarasg60s.png" width="500px">

</div>

</div>


      <!--'include footer'-->
<%- include('partials/footer') %>

</html>