<!--'include Head'-->
<%- include('partials/head' ,{title: 'login'} )%>

<body class="fondo">
  <!--'include headerNavBar'-->
  <%- include('partials/headerNavBar') %>
 <div>
   
</div>


 <div class="tituloprod"> MotoG60s </div>
           
<div class="container">
  
    <ul class="slider">
      <li id="slide1">
        <img src="/images/motog60s1.png">
      </li>
      <li id="slide2">
        <img src="/images/g 60s frente.png">
      </li>
      <li id="slide3">
      <img src="/images/motog60satras.png"> 
      </li>
    </ul>
    
    <ul class="menu">
      <li>
        <a href="#slide1">1</a>
      </li>
      <li>
        <a href="#slide2">2</a>
      </li>
       <li>
        <a href="#slide3">3</a>
      </li>
    </ul>
    
  </div>


<div class="infoDeCompra"> 

<h2> Motog60s </h2>
<p> motog60s - Aqua</p>
</div>

<div class="infoDeCompra2"> 
<p>Color:Aqua</p> 
<p>Opcion:128GB</p>
<img src="../images/sku-color-aquaMOTOG60.jpg"> 
<img src="../images/sku-color-azulMOTOG60.jpg"> 
</div>

<div class="infoDeCompra3"> 
<p>Aprovechá nuestras promociones bancarias</p>
<p>propietaria 12 cuotas sin interés de $ 4,851.56 todos los martes</p>
<img src="../images/c-rd-americanexpress.png"> 
<p>3 cuotas sin interés de $ 16,666.33</p>
<img src="../images/c-rd-visaMethod.png"> 
<p> 3 cuotas sin interés de $ 16,666.33</p>
<img src="../images/c-rd-mastercard-seeklogo.png"> 
<p> 3 cuotas sin interés de $ 16,666.33</p>
<img src="../images/c-rd-cabal.png"> 
<p>Las promociones bancarias exclusivas de Motorola no aplican en caso de seleccionar Mercado Pago</p>

</div>


  <div class="caracteristicas1"> 
<img src="../images/caracteristicas motoG60.png">

  </div>


      <!--'include footer'-->
<%- include('partials/footer') %>

</html>