<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTERTEC</title>
</head>

<body>

    <header class="header">
        <div class="container logo-nav-container">
            <div class="logo">
                <img src="/imagenes/intertec.png" width="100%" alt="logo intertec">
            </div>
            <nav class="navigation">
                <ul>
                    <div class="form" action="#" method="GET"></div>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="main-section">
        <div class="container">
            <h1>SOLUCIONES TECNOLOGICAS</h1>
        </div>
        <div class="log-sam">
            <img src="/imagenes/samsung-logo-white_gx13.jpg" width="100%" height="auto" alt="logo samsung">
        </div>
        <h2>¿QUE BUSCAS?</h2>
        <div class="container">
            <nav>
                <ul class="descripcion">
                    <li><a href="#">Smartphone</a></li>
                    <li><a href="#">Funda</a></li>
                    <li><a href="#">Templados</a></li>
                    <li><a href="#">Cargadores</a></li>
                    <li><a href="#">Auriculares</a></li>
                </ul>
            </nav>
        </div>
        <h3>PROMOCIONES</h3>
        <article class="promociones">
            <img src="/imagenes/descarga (10).jpg" width="25.8%" alt="">
            <img src="/imagenes/images (13).jpg" width="20%" alt="">
        </article>
        <h4 class="lo-mas-buscado">LO MAS BUSCADO</h4>
        <div class="premium">
            <img class="img1" src="/imagenes/images (1).jpg" width="24%" alt="">
            <img class="img2" src="/imagenes/images (4).jpg" width="20%" alt="">
            <img class="img3" src="/imagenes/images (6).jpg" width="15%" alt="">
            <img class="img4" src="/imagenes/images.jpg" width="15%" alt="">
        </div>
        <h5>¿QUE BUSCAS?</h5>
        <div class="iconos">
            <i class="fas fa-gamepad"> Gamepad</i>
            <i class="fas fa-camera-retro"> Camara</i>
            <i class="fas fa-battery-three-quarters"> Bateria</i>
            <i class="fas fa-sd-card"> Memoria</i>
        </div>
        <h6>ACCESORIOS</h6>
        <div class="accesorios">
            <img class="carg-1" src="/imagenes/cargador-blanco.jpg" width="20%" alt="">
            <img class="carg-2" src="/imagenes/cargador-negro.jpg" width="20%" alt="">
            <img class="carg-3" src="/imagenes/cargador-blanco2.jpg" width="20%" alt="">
        </div>
        <h6>Watch</h6>
        <div class="watch">
            <img src="/imagenes/descarga (5).jpg" width="20%" alt="1-watch">
            <img src="/imagenes/descarga (7).jpg" width="20%" alt="2-watch">
            <img src="/imagenes/descarga (8).jpg" width="20%" alt="3-watch">
        </div>
    </section>
    <footer>
        <section class="section-footers">
            <div class="container">
                <ul class="pie">
                    <li>Acerca de nosotros</li>
                    <li>Información de la empresa</li>
                    <li>laborales</li>
                    <li>Noticias</li>
                    <li>Ética</li>
                </ul>
                <ul class="soporte">
                    <li>Soporte</li>
                    <li>Chat Online </li>
                    <li>Email de Soporte</li>
                    <li>Teléfono de Soporte</li>
                    <li>Soporte de Samsung Argentina</li>
                </ul>
                <ul class="ventas">
                    <li>Ventas on line</li>
                    <li>Tablets</li>
                    <li>Audio</li>
                    <li>Accesorios para moviles</li>
                    <li>watch</li>
                </ul>
            </div>
            <p id="fin">República Argentina | Todos los derechos reservados | Política de privacidad | Términos y Condiciones
                © 2000-2021-INTERTEC INC-</p>
        </section>
    </footer>
</body>

</html>