* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}



.header {
    background-color: #FFA500;
    padding: 1rem;
    width: 100%;
}




.header a {
    color: white;
    text-decoration: none;
    text-align: center;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6em;
    background-color: black;
    color: white;
}


.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    align-items: center;
    text-align: center;
    font-size: 2rem;
    line-height: 1.3em;
    padding: 2rem 0 1rem 0;
    justify-self: start;
}

.accesorios,
.carg-1,
.carg-2,
.carg-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;
}

div.premium,
.img1,
.img2,
.img3,
.img4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;
}



.iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 1em;
    text-decoration-style: dashed;

}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}



.log-sam {
    align-items: center;
    text-align: center;
    padding: 2rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

}

div.container ul.descripcion {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    padding: 1rem;
    text-decoration: none;

}

#main-section {
    background-color: black;
}



.container {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

.promociones {
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2rem;
    line-height: 1.3em;
}

.watch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;
}

.footer {
    display: inline-block;
    
}

.section-footer p {
    font-size: 1px;
}
.section-footer ul li {
    background: white;
    padding: 4rem 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    
}

#fin{
    text-align: center;
    font-size: 10px;
    display: inline-block;
    padding: 2rem;
}


.container {
    text-align: justify;
    font-size: 60%;
    display: inline-block;
    padding: 2rem;
    list-style: none;

}


.tecno {
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem 0 1rem 0;
    font-size: 50%;
}

nav ul {
    font-size: 12px;
    text-align: justify;
}

.flex-main{
    flex-wrap:wrap;
}
.flex-main, .flex-section{
    display:flex;
}

.flex-section-double{
    min-width: 30%;
}
.w100{
    width:100%;
}

.flex-center{
    justify-content: space-evenly;
}
.flex-column{
    flex-direction:column;
}
.flex-row{
    flex-direction:row;
}
.flex-space-between{
    justify-content: space-between;
}

.pl10{
    padding-left: 10px;
}

input{
    height: 2em;
}
.p10{
    padding:10px;
}

.mt10{
    margin-top:2.5em
}

.max-width20em{
    max-width: 20em;
}

.border_bottom{
    border-top: 0px solid #C00;
    border-right: 0px solid #C00;
    border-bottom: 1px solid black;
    border-left: 0px solid #C00;
}
@media all and (min-width: 320px) {

    ul.pie,
    ul.soporte,
    ul.ventas {
        display: inline-block;
}

}

@media all and (min-width: 1400px) {
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul li {
        display: inline-block;
    }

    .logo {

        font-size: 1.4em;
    }

    .navigation ul li a:hover {
        background: #4a4a4a;
    }
}
