.fondo {
    margin: 0%;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
}

input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding: 1px 2px;
}

input {
    font-style: normal;
    font-variant-ligatures: normal ;
    font-variant-caps: normal;
    font-variant-numeric: oldstyle-nums ;
    font-variant-east-asian: proportional-width;
    font-weight: inherit;
    font-stretch: semi-condensed;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.naranja {
    background-color: orange;
    height: auto;
    width: 100%;
  
}

main {
    padding: 90px 20px 0;
}

.banner {
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Lato', sans-serif;
    margin-top: 30 px;
    margin-bottom: 60 px;
    text-align: center;
}


h4 {
    color: white;
    font-family: 'Lato', sans-serif;
}

.cabecera1 {
    height: 125px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: unset;
    align-content: flex-start;

}

div.logo {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    margin-left: 1rem;
}


div.barra {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    height: auto;
    width: auto;
    margin: auto;
    margin-top: 4.5rem;
    margin-left: 5rem;
}



.cabecera2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: unset;
    align-content: flex-start;
}

div.cabecera2 {
    display: flex;
    font-family: 'Lato', sans-serif;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    padding: 0.5rem;
    align-content: flex-start;
}

.fa, .fas{
    font-weight: 900;
    text-decoration: underline;
}

.fa, .fab, .fad, .fal, .far, .fas {
    color: rgb(19, 19, 163);
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 3em;
    margin: 0.7rem;
}

div.register, .login {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
    margin-left: 10 px;
    margin-right: 10 px;
    text-align: end;
}

.carrito {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
    margin-left: 10 px;
}

.contenedor-dos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;

}

.smartphones {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
}

.auriculares {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
}

.accesorios {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
}

.promociones {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
}

.todo {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
    ;
}

.contenedor-tres {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.bateria {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
}

.camara {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
    ;
}

.precio {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
}

.pantalla {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
}

.memoria {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
}

.gaming {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
}

.contenedor-cuatro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: unset;
    align-content: flex-end;
}

.imagen-pie {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
}

.sobre-nosotros {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
}

.venta-online {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
}

.soporte {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
}

.navegacion {
    margin: 0.5em;
    width: 500 px;
}

ul,
ol {
    list-style: none;
}

.desplegable li a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10 px 15 px;
    display: block;
}

.desplegable>li {
    float: left;
}

.desplegable li a:hover {
    background-color: #FFA500;
}

.desplegable li ul {
    display: none;
    position: absolute;
    min-width: 140 px;
}

.desplegable li:hover>ul {
    display: block;
}

.desplegable li ul li {
    position: relative;

}

.desplegable li ul li ul {
    right: -140 px;
    top: 0 px;
}

.fondo2 {
    background-color: #FFA500;
}

.fondo2 a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: white;
}

h1 {
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}

HEAD .logo-pie {
    margin-top: 15px;
    margin-bottom: 15px;
}
